<div class="slide">
    <div class="titletop">
        <h1>Gütefaktor von Oszillationen in der Langevin-Dynamik</h1>
    </div>
    <div class="titlebelow">
        Volker Weißmann
    </div>
</div>

{{ manim_range("Small") }}

<div class="slide">
    <h1>Gedämpfte Oszillationen in Langevin Systemen</h1>
</div>

{{ manim_range("NoisyCircle") }}

<div class="slide">
    <h1>Gütefaktor von gedämpften Oszillationen</h1>
</div>

{{ manim_range("Cosexp", lastSection="second last") }}

<div class="slide">
    <h1>Von Eigenwerten zu Oszillationen</h1>
</div>

{{ manim_range("Eigvals") }}

{{ manim_range("Lambdas", lastSection="secondlast") }}

<div class="slide">
    <h1>Eigenwert finden</h1>
</div>

{{ manim_range("Integral", lastSection="secondlast") }}

{{ manim_range("MyRes") }}

<div class="slide">
    <h1>Obere Schranke der Robustness</h1>
</div>

{{ manim_range("Border", lastSection="secondlast") }}

<div class="slide">
    <h1>Grenzzyklen</h1>
</div>

{{ manim_range("Hopf", lastSection="before_summary") }}
{{ manim_range("Hopf", firstSection="after_summary") }}

<div class="slide">
    <h1>Numerik</h1>
</div>

{{ manim_range("Numerics") }}

<div class="slide">
    <h1>Zusammenfassung</h1>
</div>

{{ manim_single("NoisyCircle", "Single Noisy") }}
{{ manim_single("NoisyCircle", "Ensemble Average") }}
<!-- {{ manim_single("Cosexp", "last") }} -->
{{ manim_single("Lambdas", "last") }}
{{ manim_single("Integral", "last") }}
{{ manim_single("MyRes", "last") }}
{{ manim_single("Border", "last") }}
{{ manim_single("Hopf", "summary") }}


<div class="slide">
    <div class="titletop">
        <h1>Ende</h1>
    </div>
</div>

<!-- <div class="slide">
    <h1>Title</h1>
    <ul>
        <li class="later"> Point 1
        <li class="same"> Point 1.5
        <li class="later"> Point 2
    </ul>
</div>

<div class="slide small">
    <ol>
        <li>Group A
            <ul>
                <li> 1
                <li> 2
            </ul>
        <li>Group B
            <ul>
                <li> 1
                <li> 2
            </ul>
    </ol>
    <p class="orange"> Other Color
</div> -->
