<!-- Derivated from view-source:https://ptrace.fefe.de/hype/ -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% include 'css.html' %}
</head>

<body>

    <div id="container" class="page">
    </div>
    <div id="slides">
        {% include 'slides.html' %}
    </div>

    {% include 'javascript.html' %}
</body>

</html>
